# Copy this file to .kamal/secrets and replace each value with a real secret.
KAMAL_REGISTRY_PASSWORD=$KAMAL_REGISTRY_PASSWORD
SECRET_KEY_BASE=$SECRET_KEY_BASE
SETTINGS__S3__ACCESS_KEY_ID=$SETTINGS__S3__ACCESS_KEY_ID
SETTINGS__S3__SECRET_ACCESS_KEY=$SETTINGS__S3__SECRET_ACCESS_KEY
SETTINGS__STREAM__SECURITY_TOKEN_SECRET=$SETTINGS__STREAM__SECURITY_TOKEN_SECRET
