<header>
  <div class="container">
    <a class="su-brand-bar__logo" href="https://www.stanford.edu">Stanford University</a>
  </div>
  <nav class="navbar navbar-expand-md bg-dark bg-cardinal">
    <div class="container">
      <a class="mb-0 navbar-brand navbar-logo" href="https://library.stanford.edu" aria-label="Stanford University Libraries"></a>
    </div>
  </nav>

  <div class="masthead bg-dark bg-cardinal">
    <div class="container">
      <div class="d-flex flex-wrap align-items-end pt-3 pb-1 pb-md-3 gap-2">
        <div class="d-flex align-items-end gap-2 flex-grow-1">
          <span class="rosette-logo me-1 align-self-start flex-shrink-0" aria-hidden="true"></span>
          <div class="me-1 flex-grow-1">
            <div class="h1 my-0">
              <a href="/">Digital Stacks</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
