---
http_interactions:
- request:
    method: get
    uri: http://imageserver-b.stanford.edu/adore-djatoka/resolver?rft_id=/stacks/nr/349/ct/7889/nr349ct7889_00_0001.jp2&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "/stacks/nr/349/ct/7889/nr349ct7889_00_0001.jp2",
        "imagefile": "/stacks/nr/349/ct/7889/nr349ct7889_00_0001.jp2",
        "width": "3832",
        "height": "2552",
        "dwtLevels": "5",
        "levels": "5",
        "compositingLayerCount": "1"
        }
  recorded_at: Sat, 29 Aug 2015 18:22:51 GMT
recorded_with: VCR 2.9.3
