stacks:
  storage_root: /stacks

imageserver:
  base_uri: 'http://imageserver-prod.stanford.edu/iiif/2/'

purl:
  url: 'https://purl.stanford.edu/'

cdl:
  url: 'https://requests.stanford.edu/cdl'
  jwt:
    algorithm: 'HS256'
    secret: secret
  redis: {}

stream:
  # max_token_age is specified in seconds
  max_token_age: 45

# non-IIIF images
legacy:
  sizes:
    - square
    - thumb
    - small
    - medium
    - large
    - xlarge
    - full

user:
  stanford_groups:
    - stanford:stanford
    - stanford:academic
    - stanford:administrative
    - organization:sumc
    - sulair:proxy-access
    - lane:proxy-access
  locations:
    spec:
      - an.ip.address

cors:
  allow_origin_url: 'https://embed.stanford.edu'
features:
  streaming_media: true
  cocina: false

token:
  default_expiry_time: <%= 1.hour %>
