---
http_interactions:
- request:
    method: get
    uri: http://imageserver-b.stanford.edu/adore-djatoka/resolver?rft_id=file:///stacks/nr/349/ct/7889/nr349ct7889_00_0001.jp2&svc_id=info:lanl-repo/svc/getMetadata&url_ver=Z39.88-2004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
        "identifier": "file:///stacks/nr/349/ct/7889/nr349ct7889_00_0001.jp2",
        "imagefile": "/stacks/nr/349/ct/7889/nr349ct7889_00_0001.jp2",
        "width": "3832",
        "height": "2552",
        "dwtLevels": "5",
        "levels": "5",
        "compositingLayerCount": "1"
        }
  recorded_at: Sun, 01 May 2016 20:16:36 GMT
recorded_with: VCR 3.0.1
