---
http_interactions:
- request:
    method: get
    uri: https://purl.stanford.edu//xf680rd3068.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"a7c5ed028ef64b2d1ed9457ef5e11816"'
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <publicObject id="druid:xf680rd3068" published="2015-04-24T11:45:16-07:00">
          <identityMetadata>
            <sourceId source="sul">MISC_1855</sourceId>
            <objectId>druid:xf680rd3068</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>Latin glossary : small manuscript fragment on vellum.</objectLabel>
            <objectType>item</objectType>
            <adminPolicy>druid:yg077np2529</adminPolicy>
            <otherId name="catkey">10157160</otherId>
            <otherId name="uuid">48b412d0-516c-11e3-bb66-0050569b3c3c</otherId>
            <tag>Process : Content Type : Image</tag>
            <tag>Project : Special Collections - Exhibitions</tag>
            <tag>JIRA : PROJQUEUE-85</tag>
            <tag>DPG : Medieval Manuscript Exhibition 2014</tag>
            <tag>DPG : Curator Request : Jordan</tag>
            <tag>Registered By : astrids</tag>
            <tag>Remediated By : 4.14.4</tag>
          </identityMetadata>
          <contentMetadata type="image" objectId="xf680rd3068">
            <resource type="image" sequence="1" id="xf680rd3068_1">
              <label>Image 1</label>
              <file id="xf680rd3068_00_0001.jp2" mimetype="image/jp2" size="887079">
                <imageData width="1794" height="2627"/>
              </file>
            </resource>
            <resource type="image" sequence="2" id="xf680rd3068_2">
              <label>Image 2</label>
              <file id="xf680rd3068_00_0002.jp2" mimetype="image/jp2" size="887064">
                <imageData width="1794" height="2627"/>
              </file>
            </resource>
          </contentMetadata>
          <rightsMetadata>
            <access type="discover">
              <machine>
                <world/>
              </machine>
            </access>
            <access type="read">
              <machine>
                <world/>
              </machine>
            </access>
            <use>
              <human type="useAndReproduction">Property rights reside with the repository. Literary rights reside with the creators of the documents or their heirs. To obtain permission to publish or reproduce, please contact the Special Collections Public Services Librarian at speccollref@stanford.edu.</human>
            </use>
            <use>
              <human type="creativeCommons"/>
              <machine type="creativeCommons"/>
            </use>
          </rightsMetadata>
          <rdf:RDF xmlns:fedora="info:fedora/fedora-system:def/relations-external#" xmlns:fedora-model="info:fedora/fedora-system:def/model#" xmlns:hydra="http://projecthydra.org/ns/relations#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <rdf:Description rdf:about="info:fedora/druid:xf680rd3068">
              <fedora:isMemberOf rdf:resource="info:fedora/druid:sk373nx0013"/>
              <fedora:isMemberOfCollection rdf:resource="info:fedora/druid:sk373nx0013"/>
            </rdf:Description>
          </rdf:RDF>
          <oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:srw_dc="info:srw/schema/1/dc-schema" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
            <dc:title>Latin glossary : small manuscript fragment on vellum</dc:title>
            <dc:date>1200-1299</dc:date>
            <dc:date>13th century</dc:date>
            <dc:language>lat</dc:language>
            <dc:format>1 fragment, 96 x 151 mm.</dc:format>
            <dc:description>Unidentified Latin vocabulary, this portion part of the letter M, with a total of 35 lemmata (a word or phrase that is glossed; headword).</dc:description>
            <dc:rights>Open for research; material must be requested at least 24 hours in advance of intended use.</dc:rights>
            <dc:description>Lower portion of vellum leaf, removed from a binding.</dc:description>
            <dc:description>Script: professional gotica textualis, 2 columns, with a fair amount of abbreviations.</dc:description>
            <dc:description type="acquisition">Purchased from Bonhams, 2013. Accession 2013-080.</dc:description>
            <dc:description type="ownership">Previously in the Bernard M. Rosenthal collection; with Rosenthal's dealer description included with the manuscript, together with a note re previous ownership of Bernard Bischoff.</dc:description>
            <dc:subject>Manuscripts, Latin (Medieval and modern)</dc:subject>
            <dc:coverage>France</dc:coverage>
            <dc:subject>Manuscripts, Latin (Medieval and modern)--France</dc:subject>
            <dc:relation type="collection">Stanford University Libraries Special Collections, Manuscripts Division</dc:relation>
          </oai_dc:dc>
          <ReleaseData/>
        </publicObject>
  recorded_at: Thu, 17 Sep 2015 14:06:31 GMT
- request:
    method: get
    uri: https://purl-test.stanford.edu//xf680rd3068.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\" class=\"no-js\">\n  <head>\n    <meta
        charset=\"utf-8\">\n    <meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=utf-8\">\n    <!-- Mobile viewport optimization h5bp.com/ad -->\n
        \   <meta name=\"HandheldFriendly\" content=\"True\">\n    <meta name=\"viewport\"
        content=\"width=device-width,initial-scale=1.0\">\n    <meta name=\"google-site-verification\"
        content=\"\" />\n    <!-- Mobile IE allows us to activate ClearType technology
        for smoothing fonts for easy reading -->\n    <!--[if IEMobile]>\n      <meta
        http-equiv=\"cleartype\" content=\"on\">\n    <![endif]-->\n\n    <title>Stanford
        Digital Repository</title>\n\n    <link rel=\"shortcut icon\" type=\"image/x-icon\"
        href=\"/assets/favicon-8a4c41227945e5f20503f62517defcfb2ef88f578e222838318c704472d483b0.ico\"
        />\n    <link rel=\"stylesheet\" media=\"all\" href=\"/assets/application-189fec2bcda993b5197e20d2137581b484d18194af8d5b5df808081eb99340d2.css\"
        />\n    <link rel=\"stylesheet\" media=\"print\" href=\"/assets/print-1071dfde819631253590fba4dfe3d64cb362293af455c200f7938bdf9d08d45f.css\"
        />\n    <link href=\"https://www.stanford.edu/su-identity/css/su-identity.css\"
        rel=\"stylesheet\">\n    <link rel=\"stylesheet\" media=\"screen\" href=\"https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700\"
        />\n    <script src=\"/assets/application-22b5445a14ff4991b87ac46eee2bcc19d9b2e2aebdebf658096ea9fd54dd8665.js\"></script>\n
        \   <meta name=\"csrf-param\" content=\"authenticity_token\" />\n<meta name=\"csrf-token\"
        content=\"/Y6GrI20bxgTNbuVbGnTfDds+Vz6AHEWMS9FUgCUotLAWfASvOFn47S2OlFULwIx+8Ut5U4vKZmAXE7BtP8cPQ==\"
        />\n\n    \n    \n    \n    <meta name=\"twitter:card\" />\n    \n\n    <!--[if
        lt IE 9]>\n      <script src=\"http://html5shim.googlecode.com/svn/trunk/html5.js\"></script>\n
        \   <![endif]-->\n    <!--[if IE 8]>\n      <link rel=\"stylesheet\" type=\"text/css\"
        href=\"https://www.stanford.edu/su-identity/css/ie/ie8.css\" />\n    <![endif]-->\n
        \   <!--[if IE 7]>\n      <link rel=\"stylesheet\" type=\"text/css\" href=\"https://www.stanford.edu/su-identity/css/ie/ie7.css\"
        />\n    <![endif]-->\n\n  </head>\n  <body>\n    \n\n\n\n\n    <div id=\"su-wrap\">
        <!-- #su-wrap start -->\n      <div id=\"su-content\"> <!-- #su-content start
        -->\n        <div id=\"outer-container\" class=\"container-fluid\">\n          <div
        id=\"topnav-container\">\n  <header id=\"topnav\" class=\"header-logo\" role=\"banner\">\n
        \   <a href=\"http://library.stanford.edu\">\n      <span class=\"sr-only\">Stanford
        University Libraries</span>\n      <img class=\"hidden-xs\" alt=\"\" height=\"25\"
        src=\"/assets/sul-logo-8dfefc678313c186818297b03fab4a4ed59926e46a30022cd1b015cbb1bdb0ad.png\"
        />\n      <img class=\"visible-xs\" alt=\"\" height=\"25\" src=\"/assets/sul-logo-small-dae80ac9d5187216139a309d4aa53cdd343a67e6a5cb5d56b7fc0711fa3888a4.png\"
        />\n</a>    <div class=\"header-links\">\n      <a class=\"first\" data-toggle=\"collapse\"
        data-target=\"#feedback-form\" href=\"/feedback\">\n        Feedback\n</a>
        \   </div>\n  </header>\n</div>\n<div id=\"feedback-form\" class=\"feedback-form-container
        collapse\">\n  <div class=\"container\">\n  <form class=\"form-horizontal
        feedback-form\" role=\"form\" action=\"/feedback\" accept-charset=\"UTF-8\"
        method=\"post\"><input name=\"utf8\" type=\"hidden\" value=\"&#x2713;\" /><input
        type=\"hidden\" name=\"authenticity_token\" value=\"XHeEb497tNlDTPyCqCmrB3t0cdGZ+g+bYrzBOSCJXjNhoPLRvi68IuTPfUaQb3pKt92laC3VVxTTz8qqlOLg3A==\"
        />\n    <div class=\"col-sm-6 col-sm-offset-2\">\n      <div class=\"col-sm-offset-3\">\n
        \       Reporting from: <span class=\"reporting-from-field\"></span>\n<input
        type=\"hidden\" name=\"url\" id=\"url\" class=\"reporting-from-field\" />\n\n
        \     </div>\n    </div>\n    <span style=\"display:none;visibility:hidden;\">\n
        \     <label for=\"email_address\">Ignore this text box. It is used to detect
        spammers. If you enter anything into this text box, your message will not
        be sent.</label><br/>\n      <input type=\"email\" name=\"email_address\"
        id=\"email_address\" /><br/>\n      <input type=\"text\" name=\"user_agent\"
        id=\"user_agent\" />\n      <input type=\"text\" name=\"viewport\" id=\"viewport\"
        />\n    </span>\n    <div class=\"col-sm-6 col-sm-offset-2\">\n      <div
        class=\"form-group\">\n        <label class=\"col-sm-3 control-label\" for=\"message\">Message</label>\n
        \       <div class=\"col-sm-9\">\n          <textarea name=\"message\" id=\"message\"
        rows=\"5\" class=\"form-control\">\n</textarea>\n        </div>\n      </div>\n
        \     <div class=\"form-group\">\n        <label class=\"col-sm-3 control-label\"
        for=\"name\">Your name</label>\n        <div class=\"col-sm-9\">\n          <input
        type=\"text\" name=\"name\" id=\"name\" value=\"\" class=\"form-control\"
        />\n        </div>\n      </div>\n      <div class=\"form-group\">\n        <label
        class=\"col-sm-3 control-label\" for=\"to\">Your email</label>\n        <div
        class=\"col-sm-9\">\n          <input type=\"email\" name=\"to\" id=\"to\"
        value=\"\" class=\"form-control\" />\n        </div>\n      </div>\n      <div
        class=\"form-group\">\n        <div class=\"col-sm-offset-3 col-sm-9\">\n
        \         <button type=\"submit\" class=\"btn btn-primary\">Send</button>\n
        \         <a class=\"cancel-link\" data-toggle=\"collapse\" data-target=\"#feedback-form\"
        href=\"javascript:history.back()\">Cancel</a>\n        </div>\n      </div>\n
        \   </div>\n</form></div>\n\n</div>\n\n          <div id=\"search-navbar-container\">\n
        \ <div id=\"search-navbar\">\n    <div class=\"sdr-brand\">Stanford Digital
        Repository</div>\n  </div>\n</div>\n\n          <div class='visible-print
        print-header pull-right'>\n  <h1>Stanford Digital Repository</h1>\n  <h2>Stanford
        University Libraries</h2>\n</div>\n\n          <section id=\"main-container\"
        role=\"main\" data-analytics-id=\"\">\n            <h2>The item you requested
        is not available.</h2>\n<p>The item you requested is not yet available. It
        will be available at this URL when Library processing is completed.</p>\n
        \         </section>\n        </div>\n      </div> <!-- #su-content end -->\n
        \   </div> <!-- #su-wrap end -->\n    <footer role=\"contentinfo\">\n  <div
        id=\"sul-footer-container\">\n    <div id=\"sul-footer\">\n      <div id=\"sul-footer-img\"
        class=\"span2\">\n        <img alt=\"\" height=\"45\" src=\"/assets/SUL-logo-stacked-e88700b061a7f08a657172efc12ee6769cf2b90b14ad25a7b558aac9dc3232cc.png\"
        />\n      </div>\n      <div id=\"sul-footer-links\" class=\"span2\">\n        <ul>\n
        \         <li><a href=\"http://library.stanford.edu\">Stanford University
        Libraries</a></li>\n          <li><a href=\"http://library.stanford.edu/hours\">Hours
        &amp; locations</a></li>\n          <li> <a href=\"http://library.stanford.edu/myawrap.html\">My
        Account</a></li>\n          <li> <a href=\"http://library.stanford.edu/ask\">Ask
        us</a></li>\n          <li> <a href=\"http://library.stanford.edu/opt-out\">Opt
        out of analytics</a></li>\n        </ul>\n      </div>\n[...]
