---
http_interactions:
- request:
    method: get
    uri: http://purl.stanford.edu//nr349ct7889.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"b4bfe652093bf3656c997041e1336efd"'
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <publicObject id="druid:nr349ct7889" published="2015-07-14T14:55:39-07:00">
          <identityMetadata>
            <sourceId source="sul">M1919_b135_f2</sourceId>
            <objectId>druid:nr349ct7889</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>Porsche - Five part harmony, Road &amp; Track January 1986. Comparison test among Porsche 911 Turbo, 911 Cabriolet, 928S, 944, and 944 Turbo.</objectLabel>
            <objectType>item</objectType>
            <otherId name="label"/>
            <otherId name="uuid">724ce0b0-d954-11e4-b55b-0050569b3c3c</otherId>
            <tag>Process : Content Type : Image</tag>
            <tag>Project : Road and Track Archive</tag>
            <tag>DPG : Road and Track : Carton 5</tag>
            <tag>Registered By : llam813</tag>
            <tag>Remediated By : 4.21.2</tag>
          </identityMetadata>
          <contentMetadata objectId="nr349ct7889" type="image">
            <resource id="nr349ct7889_1" sequence="1" type="image">
              <label>Image 1</label>
              <file id="nr349ct7889_00_0001.jp2" mimetype="image/jp2" size="1840617">
                <imageData width="3832" height="2552"/>
              </file>
            </resource>
            <resource id="nr349ct7889_2" sequence="2" type="image">
              <label>Image 2</label>
              <file id="nr349ct7889_00_0002.jp2" mimetype="image/jp2" size="8657426">
                <imageData width="7908" height="5815"/>
              </file>
            </resource>
            <resource id="nr349ct7889_3" sequence="3" type="image">
              <label>Image 3</label>
              <file id="nr3[...]
