// Entry point for your Sass build
@import 'deja-vu-font';

// Color
$color-cardinal-red: #8c1515;
$gray-41-percent: #696969;

$sul-footer-bg-color: #f2f1eb;
$sul-link-color-border: #b6b1a9;
$sul-h1-font-color: #3f3c30;
$sul-h2-border-color: #e3dfd5;
$sul-shadow-color: rgba(0, 0, 0, .2);

:root {
--bs-link-color: #000;
--bs-link-hover-color: #000;
--bs-body-bg: fbfbf9;
}

h1, h2 {
  font-weight: 300;
}


@import 'base';
@import 'layout';

@import 'modules/sul-footer';
@import 'modules/top-navbar';
