// Colors

$gray-41-percent: #696969;
$white: #ffffff;

$sul-footer-bg-color: $color-beige-10;
$sul-topnavbar-link-color: $color-cardinal-red;
$sul-link-color-border: $color-pantone-401;
$sul-body-bg: $color-beige-05;
$sul-text-color: $color-black;

$sul-h1-font-color: $color-gray;
$sul-h2-border-color: $color-beige-30;
$sul-shadow-color: rgba(0, 0, 0, .2);

// Sizes
$gallery-document-width: 176px;
$gallery-document-height: 400px;
