<h1>Your single sign-on cookie has been deleted.</h1>

<p>To log out completely, quit this browser program when you are finished and log out of Network Identity Manager or Kerberos for Macintosh.</p>

<p>Quit the web browser you are using when you are finished with this browser session.
  If you do not, anyone subsequently using your computer will be able to use the browser program to go to Web Authenticated web sites,
  and the web sites will treat that person as you, giving that person access to Stanford's and your web assets.
  You are responsible for preventing that from happening with this web session, and the best way to do it is to quit the browser program
  when you are finished with it, or lock your computer if you need to leave your computer but aren't through with the browser.</p>
